In [1]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly

In [2]:
engine = create_engine("sqlite:////Users/nathanieldirenzo/Documents/GitHub/NBM_EDA_Student/resources/get_mta/mta_data.db")

In [3]:
engine.table_names()

['mta_data']

In [4]:
df = pd.read_sql('SELECT * FROM mta_data ORDER BY RANDOM() LIMIT 100000;', engine)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,N557,R130,00-03-00,KINGS HWY,F,IND,08/03/2021,01:00:00,REGULAR,992917,1799059
1,N087,R282,01-06-01,SPRING ST,CE,IND,07/29/2021,16:00:00,REGULAR,613908,4288
2,A055,R227,00-00-00,RECTOR ST,NRW,BMT,05/05/2021,08:00:00,REGULAR,1329646,511735
3,PTH01,R549,00-00-07,NEWARK HW BMEBE,1,PTH,07/17/2021,10:59:27,REGULAR,161687,10269
4,R328,R361,00-00-02,PELHAM PKWY,25,IRT,02/18/2021,20:00:00,REGULAR,7431174,4527120

In [5]:
df = df.rename(columns={'C/A': 'control_area', 'UNIT': 'unit', 'SCP': 'subunit_channel_pos', 'STATION':'station', 'LINENAME':'subway_lines', 'DIVISION':'division', 'DATE':'date', 'TIME':'time', 'DESC':'desc', 'ENTRIES':'entries', 'EXITS':'exits'})

In [6]:
df= df.sort_values(by=['control_area', 'unit', 'subunit_channel_pos', 'station', 'date', 'time'])

In [7]:
df['date_time'] = df.date + ' ' + df.time

In [8]:
df.head()

,control_area,unit,subunit_channel_pos,station,subway_lines,division,date,time,desc,entries,exits,date_time
79846,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2021,11:00:00,REGULAR,7513348,2559733,01/06/2021 11:00:00
93770,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/07/2021,15:00:00,REGULAR,7513973,2560025,01/07/2021 15:00:00
99641,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/10/2021,23:00:00,REGULAR,7515505,2560544,01/10/2021 23:00:00
8022,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/16/2021,23:00:00,REGULAR,7518490,2561872,01/16/2021 23:00:00
36848,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/03/2021,19:00:00,REGULAR,7539390,2571459,03/03/2021 19:00:00

In [9]:
df['net_entries'] = df.entries.diff()
df['net_exits'] = df.exits.diff()
df['net_traffic'] = df.entries.diff() + df.exits.diff()

In [10]:
df.head()

,control_area,unit,subunit_channel_pos,station,subway_lines,division,date,time,desc,entries,exits,date_time,net_entries,net_exits,net_traffic
79846,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2021,11:00:00,REGULAR,7513348,2559733,01/06/2021 11:00:00,NaN,NaN,NaN
93770,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/07/2021,15:00:00,REGULAR,7513973,2560025,01/07/2021 15:00:00,625.0,292.0,917.0
99641,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/10/2021,23:00:00,REGULAR,7515505,2560544,01/10/2021 23:00:00,1532.0,519.0,2051.0
8022,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/16/2021,23:00:00,REGULAR,7518490,2561872,01/16/2021 23:00:00,2985.0,1328.0,4313.0
36848,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/03/2021,19:00:00,REGULAR,7539390,2571459,03/03/2021 19:00:00,20900.0,9587.0,30487.0

In [11]:
df.date = pd.to_datetime(df['date'])

In [12]:
df.time = pd.to_datetime(df['time'])

In [13]:
df.date_time = pd.to_datetime(df['date_time'])

In [14]:
df['audit_length_hours'] = df.date_time.diff() / pd.Timedelta(hours=1)

In [15]:
df.head()

,control_area,unit,subunit_channel_pos,station,subway_lines,division,date,time,desc,entries,exits,date_time,net_entries,net_exits,net_traffic,audit_length_hours
79846,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-06,2022-01-04 11:00:00,REGULAR,7513348,2559733,2021-01-06 11:00:00,NaN,NaN,NaN,NaN
93770,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-07,2022-01-04 15:00:00,REGULAR,7513973,2560025,2021-01-07 15:00:00,625.0,292.0,917.0,28.0
99641,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-10,2022-01-04 23:00:00,REGULAR,7515505,2560544,2021-01-10 23:00:00,1532.0,519.0,2051.0,80.0
8022,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-16,2022-01-04 23:00:00,REGULAR,7518490,2561872,2021-01-16 23:00:00,2985.0,1328.0,4313.0,144.0
36848,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-03-03,2022-01-04 19:00:00,REGULAR,7539390,2571459,2021-03-03 19:00:00,20900.0,9587.0,30487.0,1100.0

In [16]:
df['avg_hourly_entries'] = df['net_entries'] / df['audit_length_hours']
df['avg_hourly_exits'] = df['net_exits'] / df['audit_length_hours']
df['avg_hourly_traffic'] = df['net_traffic'] / df['audit_length_hours']

In [17]:
df.head()

,control_area,unit,subunit_channel_pos,station,subway_lines,division,date,time,desc,entries,exits,date_time,net_entries,net_exits,net_traffic,audit_length_hours,avg_hourly_entries,avg_hourly_exits,avg_hourly_traffic
79846,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-06,2022-01-04 11:00:00,REGULAR,7513348,2559733,2021-01-06 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93770,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-07,2022-01-04 15:00:00,REGULAR,7513973,2560025,2021-01-07 15:00:00,625.0,292.0,917.0,28.0,22.321429,10.428571,32.750000
99641,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-10,2022-01-04 23:00:00,REGULAR,7515505,2560544,2021-01-10 23:00:00,1532.0,519.0,2051.0,80.0,19.150000,6.487500,25.637500
8022,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-16,2022-01-04 23:00:00,REGULAR,7518490,2561872,2021-01-16 23:00:00,2985.0,1328.0,4313.0,144.0,20.729167,9.222222,29.951389
36848,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-03-03,2022-01-04 19:00:00,REGULAR,7539390,2571459,2021-03-03 19:00:00,20900.0,9587.0,30487.0,1100.0,19.000000,8.715455,27.715455

In [29]:
df['pct_change_entries'] = df['net_entries'].pct_change() * 100
df['pct_change_exits'] = df['net_exits'].pct_change() * 100
df['pct_change_traffic'] = df['net_traffic'].pct_change() * 100

In [30]:
df.head()

,turnstile,station,subway_lines,date_time,net_entries,net_exits,net_traffic,audit_length_hours,avg_hourly_entries,avg_hourly_exits,avg_hourly_traffic,pct_change_entries,pct_change_exits,pct_change_traffic
79846,02-00-00,59 ST,NQR456W,2021-01-06 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93770,02-00-00,59 ST,NQR456W,2021-01-07 15:00:00,625.0,292.0,917.0,28.0,22.321429,10.428571,32.750000,NaN,NaN,NaN
99641,02-00-00,59 ST,NQR456W,2021-01-10 23:00:00,1532.0,519.0,2051.0,80.0,19.150000,6.487500,25.637500,145.120000,77.739726,123.664122
8022,02-00-00,59 ST,NQR456W,2021-01-16 23:00:00,2985.0,1328.0,4313.0,144.0,20.729167,9.222222,29.951389,94.843342,155.876686,110.287665
36848,02-00-00,59 ST,NQR456W,2021-03-03 19:00:00,20900.0,9587.0,30487.0,1100.0,19.000000,8.715455,27.715455,600.167504,621.912651,606.862972

In [20]:
df['turnstile'] = df.subunit_channel_pos

In [21]:
df = df.drop(labels=['control_area', 'unit', 'subunit_channel_pos', 'division', 'date', 'time', 'desc', 'entries', 'exits'],axis=1)

In [22]:
cols = df.columns.tolist()

In [23]:
cols

['station',
 'subway_lines',
 'date_time',
 'net_entries',
 'net_exits',
 'net_traffic',
 'audit_length_hours',
 'avg_hourly_entries',
 'avg_hourly_exits',
 'avg_hourly_traffic',
 'pct_change_entries',
 'pct_change_exits',
 'pct_change_traffic',
 'turnstile']

In [24]:
cols = ['turnstile', 'station',
 'subway_lines',
 'date_time',
 'net_entries',
 'net_exits',
 'net_traffic',
 'audit_length_hours',
 'avg_hourly_entries',
 'avg_hourly_exits',
 'avg_hourly_traffic',
 'pct_change_entries',
 'pct_change_exits',
 'pct_change_traffic']

In [25]:
cols

['turnstile',
 'station',
 'subway_lines',
 'date_time',
 'net_entries',
 'net_exits',
 'net_traffic',
 'audit_length_hours',
 'avg_hourly_entries',
 'avg_hourly_exits',
 'avg_hourly_traffic',
 'pct_change_entries',
 'pct_change_exits',
 'pct_change_traffic']

In [26]:
df = df[cols]

In [31]:
df.head()

,turnstile,station,subway_lines,date_time,net_entries,net_exits,net_traffic,audit_length_hours,avg_hourly_entries,avg_hourly_exits,avg_hourly_traffic,pct_change_entries,pct_change_exits,pct_change_traffic
79846,02-00-00,59 ST,NQR456W,2021-01-06 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93770,02-00-00,59 ST,NQR456W,2021-01-07 15:00:00,625.0,292.0,917.0,28.0,22.321429,10.428571,32.750000,NaN,NaN,NaN
99641,02-00-00,59 ST,NQR456W,2021-01-10 23:00:00,1532.0,519.0,2051.0,80.0,19.150000,6.487500,25.637500,145.120000,77.739726,123.664122
8022,02-00-00,59 ST,NQR456W,2021-01-16 23:00:00,2985.0,1328.0,4313.0,144.0,20.729167,9.222222,29.951389,94.843342,155.876686,110.287665
36848,02-00-00,59 ST,NQR456W,2021-03-03 19:00:00,20900.0,9587.0,30487.0,1100.0,19.000000,8.715455,27.715455,600.167504,621.912651,606.862972